<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <!-- <p>Auto-resizing sidenav</p> -->
    <!-- @if (showFiller) {
      <p>Lorem, ipsum dolor sit amet consectetur.</p>
    }
    <button (click)="showFiller = !showFiller" matButton="elevated">
      Toggle extra text
    </button> -->

    <mat-nav-list>
      @for (item of menuItems; track item.id) {
        <a mat-list-item>
          <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
          <div matListItemTitle class="menu-item">{{ item.label }}</div>
        </a>
      }
    </mat-nav-list>
  </mat-drawer>

  <app-bible-reader-scripture-search-bar></app-bible-reader-scripture-search-bar>

  <div class="example-sidenav-content">
    <app-bible-page></app-bible-page>
  </div>
</mat-drawer-container>
